/* esto es de select de texto */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
::-moz-selection {color: #F1F1F1; background: #017c6a;}
::selection      {color: #F1F1F1; background: #017c6a;}
/* fin del select de texto */

/* roots de colores para var */
:root {
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
    --light-grey-color: #cacaca;
    --gold-color: #E8D051;
}
/* fin de roots de colores para var */

/* propiedad para todos los elementos */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* fin de propiedad para todos los elementos */

/* estilos para la etiqueta html */
html {
    scroll-behavior: smooth;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
}
/* fin de estilos para la etiqueta html */

/* estilos para el body */
body {
    background: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    box-sizing: border-box;

    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed;
}
/* fin de estilos para el body */

/***** estilos para el modo oscuro *****/
body.oscuro {background: #111111;}
body.oscuro p {color: #F1F1F1;}
body.oscuro a {color: #F1F1F1;}
body.oscuro h2 {color: #F1F1F1;}
body.oscuro h3 {color: #F1F1F1;}
body.oscuro h4 {color: #F1F1F1;}
body.oscuro span {color: #F1F1F1;}
/* Esto es para la activación del modo oscuro */
.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
/* Fin de los estilos para la activación del modo oscuro */
/***** fin de estilos modo oscuro *****/

/* estilos para classes de bootstrap */
.bgDark {background-color: var(--dark-color) !important;}
.bgLight {background-color: var(--white-color)!important;}
.bgLightGrey {background-color: var(--light-grey-color)!important;}
.colorDark {color: var(--dark-color) !important;}

.btn {
    font-size: 18px;
    padding: 15px 25px;
    min-width: 160px;
    border-radius: 5px;
    display: inline-block;
}

.btn-primary {
    background-color: var(--dark-color) !important;
    color: var(--white-color);
    border: 2px solid var(--dark-color);
}

.btn-secondary {
    background-color: var(--white-color);
    color: var(--dark-color);
    border: 2px solid var(--white-color);
}

.btn-alternate {
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.btn-primary:hover {
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
}

.btn-secondary:hover {
    background-color: var(--white-color);
    color: var(--dark-color);
    border: 2px solid var(--white-color);
}

.btn-secondary:focus {
    background-color: var(--white-color) !important;
    outline: none;
    border: 2px solid var(--white-color) !important;
    box-shadow: none;
}
/* fin de estilos para classes de bootstrap */

/* estilos para etiquetas h, p y a*/
h1 {font-size: 66px; font-weight: 700; line-height: 80px;}
h2 {font-size: 48px; margin-bottom: 30px;}
h3 {font-size: 33px;}
h5 {margin-bottom: 0px;}

p {
    color: var(--dark-color);
    line-height: 1.8;
    margin-bottom: 0px;
}

a {
    color: var(--light-grey-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: var(--gold-color);
}

a:hover {
text-decoration: none;
}

.linksmandos {
    color: var(--dark-color) !important;
}

.linksmandos.ps:hover {
    color: rgba(0, 112, 209, 4) !important;
}
.linksmandos.ntd:hover {
    color: rgba(230, 0, 18, 4) !important;
}
.linksmandos.xos:hover {
    color: rgba(113, 198, 62, 4) !important;
}
/* fin de estilos rtiquetas h, p y a */

/* clases del navbar */
.navbar {
    background-color: #111111;
    box-shadow: 0 2px 4px 0 #111111;
    min-height: 100px;
}

.nav-link {
    color: var(--light-grey-color);
}

.nav-link:hover {
    color: var(--gold-color);
}

.navbar-toggler {
    font-size: 16px;
}

.navbar-toggler:focus {
    outline: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232,208,81, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgba(232,208,81, 0.5);
} 
/* fin de las classes del navbar */

/* banners de las páginas */
#banner {
    background-image: url(../img/XboxPlayNintendo.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-top: 110px;
    min-height: 600px;
}

#banner h1{
    margin-top: 300px;
    color: #F1F1F1;
}

#xbox {
    background-image: url(../img/XboxOne.webp);
    background-position: center center;
    background-size: cover;
    margin-top: 100px;
    padding-top: 110px;
    min-height: 650px;
}

#ps4 {
    background-image: url(../img/PS4.webp);
    background-position: center center;
    background-size: cover;
    margin-top: 100px;
    padding-top: 110px;
    min-height: 650px;
}

#nintendo {
    background-image: url(../img/nintendo.webp);
    background-position: center center;
    background-size: cover;
    margin-top: 100px;
    padding-top: 110px;
    min-height: 750px;
}
/* fin de los banners de las páginas */

/* prueba de imagenes zoon */
/* seccion de xbox */
figure.Elite-Series-2{
    background-image: url(../XboxController/XboxEliteControllerSeries2-InWithTheNew.webp);
}

figure.cyberpunk{
    background-image: url(../XboxController/Cyberpuck2077.webp);
}

figure.Artic-Camouflage{
    background-image: url(../XboxController/ArcticCamouflage-CoolAndClean.webp);
}

figure.Phantom-Magenta{
    background-image: url(../XboxController/PhantomMagenta-PrettyInPink.webp);
}

figure.Midnight-Forces-2{
    background-image: url(../XboxController/MidnightForces-NightOperations.webp);
}

figure.DPM-X019{
    background-image: url(../XboxController/DPMX019Exclusive-LondonSouvenir.webp);
}

figure.Night-Ops-Camouflage{
    background-image: url(../XboxController/NightOpsCamouflage-GoingDark.webp);
}

figure.Night-Ops-Camouflage{
    background-image: url(../XboxController/NightOpsCamouflage-GoingDark.webp);
}

figure.Sport-Blue{
    background-image: url(../XboxController/SportBlue-SkyBlue.webp);
}

figure.Gears-5-Kait-Díaz{
    background-image: url(../XboxController/Gears5KaitDíaz-ColdMetal.webp);
}

figure.Fornite{
    background-image: url(../XboxController/FortniteEdition.webp);
}
figure.Phantom-White{
    background-image: url(../XboxController/PhantomWhite-StrikinglyPure.webp);
}

figure.Sport-Red{
    background-image: url(../XboxController/SportRed-CherryRed.webp);
}

figure.PlayerUnknowns-Battlegrounds{
    background-image: url(../XboxController/PlayerUnknownsBattlegrounds-PUBG.webp);
}

figure.Phantom-Black{
    background-image: url(../XboxController/PhantomBlack-UnderTheHood.webp);
}

figure.Elite-White{
    background-image: url(../XboxController/XboxEliteWhite-NewLook.webp);
}

figure.Gray-Blue{
    background-image: url(../XboxController/Gray-Blue-MutedTones.webp);
}

figure.Armed-Forces-2{
    background-image: url(../XboxController/ArmedForcesII-ArmedAndReady.webp);
}

figure.Sport-White{
    background-image: url(../XboxController/SportWhite-PearlyWhite.webp);
}

figure.Combat-Tech{
    background-image: url(../XboxController/CombatTech-FutureWarfare.webp);
}

figure.Sea-Of-Thieves{
    background-image: url(../XboxController/SeaOfThieves.webp);
}

figure.Project-Scorpio{
    background-image: url(../XboxController/ProjectScorpio-ForTheFans.webp);
}

figure.Minecraft-Creeper{
    background-image: url(../XboxController/MinecraftCreeper-KeepYourDistance.webp);
}

figure.Minecraft-Pig{
    background-image: url(../XboxController/MinecraftPig-PorkyPal.webp);
}

figure.Volcano-Shadow{
    background-image: url(../XboxController/VolcanoShadow-HotHands.webp);
}

figure.Patrol-Tech{
    background-image: url(../XboxController/PatrolTech-Covert.webp);
}

figure.Gray-Green{
    background-image: url(../XboxController/Gray-Green-LightAndEasy.webp);
}

figure.Recon-Tech{
    background-image: url(../XboxController/ReconTech-Monochromatic.webp);
}

figure.Ocean-Shadow{
    background-image: url(../XboxController/OceanShadow-GoingWavy.webp);
}

figure.Winter-Forces{
    background-image: url(../XboxController/WinterForces-Sub-Zero.webp);
}

figure.Green-Orange{
    background-image: url(../XboxController/Green-Orange-PrimedForCombat.webp);
}

figure.Edición-Red{
    background-image: url(../XboxController/Red-RoyalRed.webp);
}

figure.Edición-Blue{
    background-image: url(../XboxController/Blue-BrightAndBold.webp);
}

figure.DawnShadow{
    background-image: url(../XboxController/DawnShadow-TheRisingSun.webp);
}

figure.Military-Green{
    background-image: url(../XboxController/MilitaryGreen-ToolsOfWar.webp);
}

figure.Deep-Blue{
    background-image: url(../XboxController/DeepBlue-OceanWaves.webp);
}

figure.Storm-Grey{
    background-image: url(../XboxController/StormGrey-GrayScale.webp);
}

figure.Gears-Of-War-4-Crimson-Omen{
    background-image: url(../XboxController/GearsOfWar4CrimsonOmen-Scarred.webp);
}

figure.Gears-Of-War-4-JD-Fénix{
    background-image: url(../XboxController/GearsOfWar4JDFenix-ArmoredUp.webp);
}

figure.Gears-Of-War-4-Elite{
    background-image: url(../XboxController/GearsOfWar4Elite-WarTorn.webp);
}

figure.Edición-Black{
    background-image: url(../XboxController/Black-BackToBlack.webp);
}

figure.Elizabeth-Arden-White{
    background-image: url(../XboxController/ElizabethArdenWhite.webp);
}

figure.Dusk-Shadow{
    background-image: url(../XboxController/DuskShadow-WindingDown.webp);
}

figure.Copper-Shadow{
    background-image: url(../XboxController/CopperShadow-HeavyMetal.webp);
}

figure.Halo-5-Guardians-Master-Chief{
    background-image: url(../XboxController/Halo5GuardiansMasterChief-TheIcon.webp);
}

figure.Halo-5-Guardians-Locke{
    background-image: url(../XboxController/Halo5GuardiansLocke-SpartanOfSteel.webp);
}

figure.Elite-Wireless{
    background-image: url(../XboxController/MicrosoftXboxEliteWirelessController.webp);
}

figure.Armed-Forces{
    background-image: url(../XboxController/ArmedForces-Undercover.webp);
}

figure.Lunar-White{
    background-image: url(../XboxController/LunarWhite-Intergalactic.webp);
}

figure.Forza-Motorsport-6{
    background-image: url(../XboxController/ForzMotorsport6.webp);
}

figure.Covert-Forces{
    background-image: url(../XboxController/CovertForces-TacticalGaming.webp);
}

figure.Midnight-Forces{
    background-image: url(../XboxController/MidnightForces-NightOperations.webp);
}

figure.Call-Of-Dut-Advanced-Warfare{
    background-image: url(../XboxController/CallOfDutyAdvancedWarfare.webp);
}

figure.Elizabeth-Arden-White1{
    background-image: url(../XboxController/ElizabethArdenWhite1.webp);
}

figure.Edición-Camouflage{
    background-image: url(../XboxController/Camouflage-BlendIn.webp);
}

figure.China-Day-One{
    background-image: url(../XboxController/ChinaDayOne-EasternExclusive.webp);
}

figure.Titanfall{
    background-image: url(../XboxController/Titanfall.webp);
}

figure.Launch-Team{
    background-image: url(../XboxController/LaunchTeam-IMadeThis.webp);
}

figure.Day-One{
    background-image: url(../XboxController/DayOne-EarlyBird.webp);
}

figure.Edición-Black{
    background-image: url(../XboxController/Black-XboxOrigins.webp);
}
/* fin seccion xbox */

/* inicio play station */
figure.Edición-Berry-Blue{
    background-image: url(../PlayStation4/BerrryBlue-SweetCompliments.webp);
}

figure.Edición-Jet-Black{
    background-image: url(../PlayStation4/JetBlack-TheBasicB.webp);
}

figure.Edición-Glacier-White{
    background-image: url(../PlayStation4/GlacierWhite-CleanAndSimple.webp);
}

figure.Edición-Green-Camouflage{
    background-image: url(../PlayStation4/GreenCamouflage-CanYouSeeIt.webp);
}

figure.Edición-Blue-Camouflage{
    background-image: url(../PlayStation4/BlueCamouflage-UrbanArmy.webp);
}

figure.Edición-Wave-Blue{
    background-image: url(../PlayStation4/WaveBlue-GoBlueBarracudas.webp);
}

figure.Edición-Magma-Red{
    background-image: url(../PlayStation4/MagmaRed-RedJaguars.webp);
}

figure.Edición-Gold{
    background-image: url(../PlayStation4/Gold-MetallicMaster.webp);
}

figure.Edición-Silver{
    background-image: url(../PlayStation4/Silver-TeamSilverSnakes.webp);
}

figure.Sunset-Orange{
    background-image: url(../PlayStation4/SunsetOrange-OrangeIguanas.webp);
}

figure.Edición-Crystal{
    background-image: url(../PlayStation4/Crystal-CrystalClear-Ish.webp);
}

figure.Red-Crystal{
    background-image: url(../PlayStation4/RedCrystal-RubyGem.webp);
}

figure.Blue-Crystal{
    background-image: url(../PlayStation4/BlueCrystal-KyaniteBlue.webp);
}

figure.Steel-Black{
    background-image: url(../PlayStation4/SteelBlack-ColdRolledStainless.webp);
}

figure.Midnight-Blue{
    background-image: url(../PlayStation4/MidnightBlue-CalmControlled.webp);
}

figure.Metallic-Copper{
    background-image: url(../PlayStation4/MetallicCopper-PrettyPenny.webp);
}

figure.Alpine-Green{
    background-image: url(../PlayStation4/AlpineGreen-GoGreenMonkeys.webp);
}

figure.Rose-Gold{
    background-image: url(../PlayStation4/RoseGold-RoseOfADifferentColor.webp);
}

figure.Titanium-Blue{
    background-image: url(../PlayStation4/TitaniumBlue-ThisIsTitanium.webp);
}

figure.Electric-Purple{
    background-image: url(../PlayStation4/ElectricPurple-UnlimitedPower.webp);
}

figure.Red-Camouflage{
    background-image: url(../PlayStation4/RedCamouflage-ConcealedAndAngry.webp);
}

figure.Anniversary{
    background-image: url(../PlayStation4/20thAnniversary-Nostalgia.webp);
}

figure.Call-Of-Duty-Black-Ops-III{
    background-image: url(../PlayStation4/CallOfDutyBlackOpsIII-SubtlePop.webp);
}

figure.Edición-Call-Of-Duty-WWII{
    background-image: url(../PlayStation4/CallOfDutyWWII-DistinctShades.webp);
}

figure.Uncharted{
    background-image: url(../PlayStation4/Uncharted4-SecretCollector.webp);
}

figure.Star-Wars{
    background-image: url(../PlayStation4/StarWarsBattlefrontII-ALongTimeAgo.webp);
}

figure.Darth-Vader{
    background-image: url(../PlayStation4/DarthVaderEdition-InAGalaxyFarFarAway.webp);
}

figure.Monster-Hunter{
    background-image: url(../PlayStation4/MonsterHunterWord-DidSomebodySayPalico.webp);
}

figure.God-Of-War{
    background-image: url(../PlayStation4/GodOfWar-BOY.webp);
}

figure.GT-Sport{
    background-image: url(../PlayStation4/GTSport-SilverAgain.webp);
}

figure.Spiderman{
    background-image: url(../PlayStation4/MarvelsSpiderman-YourFriendlyNeighbourhood.webp);
}

figure.Football{
    background-image: url(../PlayStation4/F.C.FootballClub-Goooooooal.webp);
}

figure.Destiny2{
    background-image: url(../PlayStation4/Destiny2-TheLightLivesInAllPlaces.webp);
}

figure.Death-Stranding{
    background-image: url(../PlayStation4/DeathStranding-ItsABoy.webp);
}
/* fin inicio play station */


/* inicio sección nintendo */
figure.Edición-Gray{
    background-image: url(../NintendoSwitch/Gray-StandardOption.webp);
}

figure.Red-and-Blue{
    background-image: url(../NintendoSwitch/RedAndBlue-MixItUp.webp);
}

figure.Neon-Yellow{
    background-image: url(../NintendoSwitch/NeonYellow-Bumblebee.webp);
}

figure.Pink-and-Green{
    background-image: url(../NintendoSwitch/NeonPinkAndGreen-SplashItUp.webp);
}

figure.Joy-Cons{
    background-image: url(../NintendoSwitch/AnimalCrossingNewHorizonsJoyCons-TropicalParadise.webp);
}

figure.NES-Controllers{
    background-image: url(../NintendoSwitch/NESControllersForNintendoSwitch-ClassicControllers.webp);
}

figure.eXtreme-Rate{
    background-image: url(../NintendoSwitch/eXtremeRateReplacementJoyConShells-OutOfTheShell.webp);
}

figure.Ware-Paint{
    background-image: url(../NintendoSwitch/ColorWarePaint-CustomizingOptions.webp);
}

figure.Silicone-Covers{
    background-image: url(../NintendoSwitch/SiliconeCovers-CoverItUp.webp);
}

figure.Japanese-Import{
    background-image: url(../NintendoSwitch/Splatoon2SiliconeCoverJapaneseImport-DesignedSilicone.webp);
}

figure.Transparent-Shell{
    background-image: url(../NintendoSwitch/TransparentShellReplacements-GetCrafty.webp);
}

figure.NES-Style{
    background-image: url(../NintendoSwitch/NES-StyleShellReplacement-MoreNostalgia.webp);
}

figure.Neon-Red{
    background-image: url(../NintendoSwitch/NeonRed-GoVibrant.webp);
}

figure.Blue-Nintendo{
    background-image: url(../NintendoSwitch/Blue-BeachFavorite.webp);
}

figure.Pokemon{
    background-image: url(../NintendoSwitch/PokmonLetsGoPikachuAndLetsGoEeveeJoy-Cons-GottaCatchemAll.webp);
}

figure.Neon-Purple{
    background-image: url(../NintendoSwitch/NeonPurpleAndNeonOrange-Halloween.webp);
}

figure.Joy-Cons{
    background-image: url(../NintendoSwitch/GreenJoy-Cons-LuigiTimel.webp);
}

figure.Blue-And-Neon{
    background-image: url(../NintendoSwitch/BlueAndNeonYellow-DarkAndLight.webp);
}
/* fin sección nintendo */


figure.zoom.xbox {
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 15px;
    box-shadow: rgba(113, 198, 62, 4) 0px 5px, rgba(113, 198, 62, 0.3) 0px 10px, rgba(113, 198, 62, 0.2) 0px 15px, rgba(113, 198, 62, 0.1) 0px 20px, rgba(113, 198, 62, 0.05) 0px 25px;
}

figure.zoom.sony {
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 15px;
    box-shadow: rgba(0, 112, 209, 4) 0px 5px, rgba(0, 112, 209, 0.3) 0px 10px, rgba(0, 112, 209, 0.2) 0px 15px, rgba(0, 112, 209, 0.1) 0px 20px, rgba(0, 112, 209, 0.05) 0px 25px;
}

figure.zoom.nintendo {
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 15px;
    box-shadow: rgba(230, 0, 18, 4) 0px 5px, rgba(230, 0, 18, 0.3) 0px 10px, rgba(230, 0, 18, 0.2) 0px 15px, rgba(230, 0, 18, 0.1) 0px 20px, rgba(230, 0, 18, 0.05) 0px 25px;
}

figure.zoom img:hover {
    opacity: 0;
}
figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}
/* fin pruebas imagenes zoon */


/* classes globales de cajas */
.content-center {
    max-width: 800px;
    margin: 50px auto 60px auto;
    text-align: center;
}

.member-container {
    position: relative;
    margin: 10px 0;
}

.company-container {
    position: relative;
    margin: 10px 0;
}

.company-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.company-container:hover img {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.tamañoimg {
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    height: auto;
}

.bennuimg img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.img-fluid{
    border-radius: 15px;
}

/* fin de las classes globales de cajas */


/************* clases pertenecientes al form *************/
.form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
}

.form-control:focus {
    border: 1px solid var(--dark-color);
    outline: none;
    box-shadow: none;
}
/* clase para botones del formulario */
.full-width {
    width: 100%;
}
/* fin de la clase de botones para formulario */
/************* fin de classes del form *************/



/***** estilos del footer *****/
footer {
    padding: 50px 0;
    text-align: center;
    color: white;
    background: #111111;
}

footer a {
    color: white;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}
/***** fin de los estilos del footer *****/


/* estilos de ventana de accesibilidad */
.columns-master {
    display: -webkit-box;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.col-xs-6 {
    -webkit-box-flex: 1;
    flex: 1 1 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.inner-model p {
    margin: 9px 0 0 0;
}

.inner-model img {
    width: 75%;
}

.modal-header {
    background-color: #1a1a1a;
    color: #Fff;
}

.modal-body {
    background-color: #fff;
}

.modal-footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0px;
}


.modal-grid .col-xs-6:last-child {
    background-color: #e8fcd6;
    color: #268400!important;
}

.inner-footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

/* media queries ventana accesibilidad */
@media only screen and (max-width: 500px) {
    .columns-master {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .modal-body .columns-master {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
    .modal-body .col-xs-6 {
        height: 83px;
    }
}

@media only screen and (max-width: 425px) {
    .modal-dialog {
        margin: 20px;
    }
    button.btn.btn-modal {
        padding: 6px 20px;
    }
}
/* fin de media queries ventana accesibilidad */

.circle-icon {
    background: #E8D051;
    cursor: pointer;
    width: 55px;
    height: 55px;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .25);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    display: -webkit-box;
    display: flex;
    vertical-align: middle;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.6rem;
    -webkit-box-align: center;
    align-items: center;
}

.accessibility-btn {
    position: fixed;
    background-color: #E8D051;
    color: #000;
    top: 25%;
    left: 1%;
}

.modal-body .col-xs-6 {
    -webkit-box-flex: 1;
    flex: 1 1 50%;
    height: 100px;
    border: solid 1px #ddd;
}

.modal-grid .col-xs-6:hover {
    background: #ecfbff;
    box-shadow: inset 0 0 0 1px #003d68;
    cursor: pointer;
}

.inner-model .fa {
    font-size: 1.5rem;
    color: #444;
}

.inner-model p {
    color: #444;
    font-weight: 600;
    font-size: 0.6rem;
    text-transform: uppercase;
}

.modal-title {
    font-size: 1rem;
}

.green-text {
    color: #108a00 !important;
}

.col-1-3 {
    visibility: hidden;
    -webkit-box-flex: 1;
    flex: 1;
    background-color: #429442;
    margin: 0 1px;
    height: 5px;
}

.visible {
    visibility: visible;
}

.inner-contrast {
    display: -webkit-box;
    display: flex;
    width: 100%;
}

.column-mode {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.modal-dialog {
    width: 75%;
    margin: auto auto;
    font-size: 1rem;
}

.margin-none {
    margin: 0 !important;
}


/* === Estilos de los modos de los botones ===  */
/* Contraste Modo #1 */
.invert--1 {
    background-color: rgb(211, 15, 147)!important;
    border-color: rgb(248, 248, 210)!important;
    background-image: none;
    color: rgb(248, 248, 210)!important;
}
/* Contrast Modo #2 */
.invert--2 {
    background-color: #ffff00!important;
    border-color: #000000!important;
    background-image: none;
    color: #000000!important;
}
/* Contrast Modo #3 */
.invert--3 {
    color: #fff !important;
    border-color: #fff!important;
    background-image: none;
    background-color: #800080 !important;
}

/* estilos para incrementar el font-size */
/* font-size modo #1 */
.big-text-1 {
    font-size: 21px;
}
/* font-size modo #2 */
.big-text-2 {
    font-size: 24px;
}
/* font-size modo #3 */
.big-text-3 {
    font-size: 27px;
}

/* estilos para saturación */
/* saturación modo #1 */
.saturate-1 {
    filter: saturate(4)!important;
    -webkit-filter: saturate(4)!important;
    -moz-filter: saturate(4)!important;
}
/* saturación modo #2 */
.saturate-2 {
    filter: saturate(50%)!important;
    -webkit-filter: saturate(50%)!important;
    -moz-filter: saturate(50%)!important;
}
/* saturación modo #2 */
.saturate-3 {
    filter: saturate(0)!important;
    -webkit-filter: saturate(0)!important;
    -moz-filter: saturate(0)!important;
}

/* estilos para resaltar enlaces */
.highlight-1 {
    background-color: yellow;
    color: #000 !important;
    outline: dotted thin !important;
}

/* estilos para diferentes tipos de fonts */
/* font modo #1 */
.font-1 {
    font-family: Arial;
}
/* font modo #2 */
.font-2 {
    font-family: Georgia;
}
/* font modo #3 */
.font-3 {
    font-family: times;
}
/*===Fin de los estilos de los modos de los botones ===*/
/********** fin de estilos de ventana de accesibilidad **********/



/* estilos del boton subir */
.boton-subir {
    display: none;
    background: #E8D051;
    border: thin solid #003d68;
    border-radius: 3px;
    position: fixed;
    right: 15px;
    bottom: 2px;
    z-index: 999999999;
}
/* evento hover */
.boton-subir:hover {
    box-shadow: 0px 2px 10px 0px rgba(232, 208, 81, 0.95);
}
/* estilos para el tag i */
.boton-subir i {
    color: rgba(0, 0, 0, 0.95);
    font-size: 1.5em;
    padding: 10px 10px 10px 7px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/* fin de los estilos del boton subir  */


/* estilos de la barra de scroll */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(210, 210, 210);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(46, 54, 69);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(210, 210, 210);
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}
/* this is for firefox */
:root {
    scrollbar-face-color: rgb(210, 210, 210);
    /* Firefox 63 compatibility */
    scrollbar-track-color: rgb(46, 54, 69);
    /* Firefox 63 compatibility */
    scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69);
    scrollbar-width: thin;
}
/* fin de los estilos de la barra de scroll */








/********** media queries **********/
/* media queries globales */
@media (max-width: 575.98px) {
    h1 {
        font-size: 40px;
        line-height: normal;
    }
    .footer-menu {
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }
}


/* fin media queries globales */


/********** fin de media queries **********/